{{!--

login form handlebar template

--}}


{{!-- Page Header --}}
<header>
    <h1>Login</h1>
</header>

{{!-- Login Form --}}
<section>
    <form action="/login" method="POST" id="login-form">
        <div class="form-group">
            <label for="emailAddressInput">Email Address:</label>
            <input type="email" name="emailAddressInput" id="emailAddressInput" required>
        </div>

        <div class="form-group">
            <label for="passwordInput">Password:</label>
            <input type="password" name="passwordInput" id="passwordInput" required>
        </div>

        <button type="submit">Login</button>
    </form>

    <!-- Link to registration page -->
    <p>Don't have an account? <a href="/register">Click here to register!</a></p>
</section>
