{{!--

logout handlebar template

--}}


{{!-- Page Header --}}
<header>
    <h1>Logout Successful</h1>
</header>

{{!-- Logout Message --}}
<section>
    <p>You have been successfully logged out.</p>

    <!-- Navigation Links -->
    <a href="/login">Login Again</a>
</section>
