{{!
You can use this template to render any errors on your site if you wish
}}

<head>
  <title>{{title}}</title>
  <link rel="stylesheet" href="/public/site.css" />
</head>
<body>
  <header class="site-header">
    <h1>{{title}}</h1>
  </header>
  <main class="main">
    <p class="error">{{errorMessage}}</p>
    <a href="/" class="back-link">Back to Home</a>
  </main>
</body>