<!-- 
This handlebar file will be rendered when the following route is hit: GET http://localhost:3000/
 
 The title of the document should be "Marvel Character Finder". You should have the title set as the <title> element of the HTML document and as an h1 in your document.

Your page should reference a CSS file, /public/site.css; this file should have at least 10 rulesets you must use at least 5 of them on this page. 

You should have a main element, and inside of the main element have a p element with a brief (2-3 sentence description) of what your website does.

Also inside the main element, you will have a form; this form will POST to /searchmarvelcharacters. This form will have an input and a label; You will give the input and name AND id of "searchCharacterByName".  The label should properly reference the same id as the input. You should also have a input with a type of submit that submits the form. 
 -->


<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/public/site.css">
</head>
<body>
    <header class="site-header">
        <h1>{{title}}</h1>
    </header>
    <main class="main">
        <p class="description">Discover your favorite Marvel characters. Search by name to find detailed information on character history, comic appearances, and more.</p>
        <form action="/searchmarvelcharacters" method="POST" class="search-form">
            <label for="searchCharacterByName" class="search-label">Search Characters: </label>
            <input type="text" id="searchCharacterByName" name="searchCharacterByName" class="search-input" required>
            <input type="submit" value="Search" class="submit-button">
        </form>
    </main>
</body>

